<header>
    <nav>
        <ul class="nav nav-pills">
            <li>
                <a class="nav-link" href="/" styles="font-size:large;">Home</a>
            </li>
        </ul>
    </nav>
</header>