<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vaccination Schedule </title>
    </head>
    <body>
        <h1 class="text-center">Vaccination Schedule</h1>
    </br>
        <div class="container-fluid">
            <div class="">
                <div class="offset-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Create Account</h3>
                        </br>
                            
                            <div class="d-grid gap-2">
                                <li><a href="/patient/creation">Add Patient</a></li>
                            </br>
                                </div>
                               <div class="d-grid gap-2">
                                <li><a href="/Admin">Admin Login</a></li>
                               </br>
                            
                               </div>
                                
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    </html>
</html>

