<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
    <h3>Patient <%- name %> already exist!!!!</h3>

    <p>Please click on link to resubmit the details</p>
    <a href="/patient/creation">Add patient</a>
</body>
</html>